{% extends "template-base.html" %}

{% block containercontent %}

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <div class="post-preview">
                <a href="http://www.team2.fi/">
                    <h2 class="post-title">
                        I am currently operating through Team2 Oy. See you there!
                                          </h2>
                    <!--<h3 class="post-subtitle">
                        Problems look mighty small from 150 miles up
                  </h3>-->
                </a>
                <p class="post-meta">Posted by <a href="#">Me</a> on January 2, 2016</p>
                <a href="https://tietopalvelu.ytj.fi/yritystiedot.aspx?yavain=2113335&tarkiste=179596D49A02BBFB1DD1E9D60003A633BC73A945">
                    <h2 class="post-title">
                        Company details
                                          </h2>
                  <!--  <h3 class="post-subtitle">
                        Problems look mighty small from 150 miles up
                    </h3>-->
                </a>
                <p class="post-meta">Posted by <a href="#">Me</a> on January 2, 2016</p>

                <a href="http://blog.foofactory.fi/">
                    <h2 class="post-title">
                        My (currently half salvaged) blog
                                          </h2>
                  <h3 class="post-subtitle">
                        I also occassionally write @ <a href="http://team2.fi/blog/">Team2 blog</a></h3>
                </a>
                <p class="post-meta">Posted by <a href="#">Me</a> on January 2, 2016</p>

            </div>
        </div>
    </div>
</div>

<hr>
{% endblock %}
